<div class="slider-item" style= "background-image: url('https://lh3.googleusercontent.com/proxy/7a4uwY31Fll_3PdHULtKfBuop8gbYRPUDrvDLfILdCKZ86T5PqUDhohz9tU_WuxKGgz75JRHcoW3RgHRolfoNH9bkpoizGlJlmfivrOV0OTWBhDwvhQFJ02Ify-NIQt2a2OptNa6kh6hFwvEld4P6LKwbj2n5QEL0ac');">
          
          <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
              <div class="col-md-8 text-center col-sm-12 ">
                <h1 data-aos="fade-up" class="aos-init aos-animate">Enjoy Your Food at Foody</h1>
               
               
              </div>
            </div>
          </div>

        </div>